
.autocomplete{
  width: 100%;
  position: relative;
  
}

.list-data{
  max-height: 400px;
  overflow-x: scroll;
  overflow-y: scroll;

}

.autocomplete input{
  font-size: 1.2em;
  width: 100%;
  padding:0.4em;
}

.autocomplete ul{
  position: absolute;
  left: 0;
  width: 100%;
  border-left: 1px solid #888;
  border-right: 1px solid #888;
  border-bottom: 1px solid #888;
  z-index: 1;
}

.autocomplete li{
  text-align: left;
  list-style:none;
  width: 100%;
  padding:0.4em;
  background-color: #fff;
}

.autocomplete li.active{
  width: 100%;
  background-color: #4bf;
}

.autocomplete .highlight {
  background-color: lightcyan;
}

.autocomplete li.active .highlight {
  background: #ffffff;
  color: #0568ae;
}
.item-data{
  text-align: left;
}

.user-id{
  font-weight: bold;
}